{port_sources, [{"R14|R15", ["c_src/*.c"]}, {"R14|R15", ["c_src/yajl/*.c"]}]}.

{so_name, "ejson.so"}.

{deps, [
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {tag,
        "2.3.1"}}}
]}.

{port_env, [
    %% Make sure to link -lstdc++ on linux or solaris
    {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"}

]}.
